@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

body {
    font-family: "Lato", serif;
}


/* --- Navbar  */
.logo {
    font-family: "Rampart One", serif;
    color: darkgreen;
}

.navbar-logo {
    width: 2.5rem;
    height: auto;
}

nav,
footer {
    background-color: #86BB2A;
}

.dummy {
    height: 45vh;
}